.problems-section{
    width: 100%;
}

.problems-section > table{
    width: 100%;
    vertical-align: center;
    text-align: center;
}
table{
    border-collapse: collapse;
    margin-top: 10px;
    margin-left: 10px;
}
th{
    border-bottom: red solid 1px;
}

th svg{
    margin-right: 0.2em;
}

td{
    border: blue solid 1px;
}

tr:nth-child(even) {background-color: #f2f2f2;} 