
.header-component_login-bar{
    display:flex;
    flex-flow: row;
    position: fixed;
    right: 0;
    
}
.header-component_login-bar > *{
    margin-top: 1.50em;
    margin-right: 20px;
}
.top-logo{
    height: 75%;
    width:auto;
    margin-top: 0.5em;
}
.logo-div{
    min-height: 90px;
    height: 15vh;
    background: linear-gradient(to right,white,white,lightblue);
}