.navbar-component{
    background: rgb(11, 250, 210);
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}
.navbar-component > * {
    padding-right: auto;
    padding-left: auto;
    flex: 1;
    text-align: center;
    border: solid 1px rgb(0, 145, 150) ;
}

.active-nav-link{
    color: red;
}